#member {
  display: flex;
  flex-wrap: wrap;
}

:host {

  #member > .array-element {
    --ags-view: {
      margin: 5px;
    };

    --paper-card: {
      width: 400px;
    };
  }

:host {
  --paper-card-header-image: {
    width: auto;
  };

  --paper-card-header-image-text: {
    background-color: rgba(255, 255, 255, 0.5);
  };

  display: block;
}
