:host {
  display: block;
  position: fixed;
  right: 80px;
  bottom: 40px;
}

paper-fab {
  margin: 0 auto;
}

paper-fab.operation {
  --paper-fab-mini: {
    margin-bottom: 10px;
  };

  --paper-fab-background: var(--paper-grey-500);
}

paper-fab.operation[data-method=GET] {
  --paper-fab-background: var(--paper-light-green-400);
}

paper-fab.operation[data-method=DELETE] {
  --paper-fab-background: var(--paper-red-500);
}

paper-fab.operation[data-method=POST], paper-fab.operation[data-method=PUT] {
  --paper-fab-background: var(--paper-amber-600);
}

#operationToggle {
  --paper-fab-background: var(--paper-deep-purple-400);
}

#operationToggle[data-no-operations] {
  --paper-fab-background: var(--paper-grey-500);
}
